# **Data Science 100 Exercises (Structured Data Processing Edition) - Python**

## Basic setting

In [3]:
import os
import pandas as pd
import numpy as np

dtype = {
    'customer_id': str,
    'gender_cd': str,
    'postal_cd': str,
    'application_store_cd': str,
    'status_cd': str,
    'category_major_cd': str,
    'category_medium_cd': str,
    'category_small_cd': str,
    'product_cd': str,
    'store_cd': str,
    'prefecture_cd': str,
    'tel_no': str,
    'postal_cd': str,
    'street': str
}

df_customer = pd.read_csv("../../data/raw/customer.csv", dtype=dtype)
df_category = pd.read_csv("../../data/raw/category.csv", dtype=dtype)
df_product = pd.read_csv("../../data/raw/product.csv", dtype=dtype)
df_receipt = pd.read_csv("../../data/raw/receipt.csv", dtype=dtype)
df_store = pd.read_csv("../../data/raw/store.csv", dtype=dtype)
df_geocode = pd.read_csv("../../data/raw/geocode.csv", dtype=dtype)

## Exercise Problems

---
> P-001: Display the first 10 rows of all items from the receipt details data (df_receipt) to visually confirm what kind of data it contains.

In [4]:
df_receipt.head(10)

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81
2,20170712,1499817600,S14028,1102,1,CS028414000014,P060101005,1,170
3,20190205,1549324800,S14042,1132,1,ZZ000000000000,P050301001,1,25
4,20180821,1534809600,S14025,1102,2,CS025415000050,P060102007,1,90
5,20190605,1559692800,S13003,1112,1,CS003515000195,P050102002,1,138
6,20181205,1543968000,S14024,1102,2,CS024514000042,P080101005,1,30
7,20190922,1569110400,S14040,1102,1,CS040415000178,P070501004,1,128
8,20170504,1493856000,S13020,1112,2,ZZ000000000000,P071302010,1,770
9,20191010,1570665600,S14027,1102,1,CS027514000015,P071101003,1,680

---
> P-002: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and display 10 rows.

In [5]:
# CÃ¡ch 1
df_receipt[['sales_ymd','customer_id','product_cd','amount',]].head(10)

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90
5   20190605  CS003515000195  P050102002     138
6   20181205  CS024514000042  P080101005      30
7   20190922  CS040415000178  P070501004     128
8   20170504  ZZ000000000000  P071302010     770
9   20191010  CS027514000015  P071101003     680

In [6]:
# CÃ¡ch 2: Slicing Index
df_receipt.iloc[:,[0,5,6,7]]

        sales_ymd     customer_id  product_cd  quantity
0        20181103  CS006214000001  P070305012         1
1        20181118  CS008415000097  P070701017         1
2        20170712  CS028414000014  P060101005         1
3        20190205  ZZ000000000000  P050301001         1
4        20180821  CS025415000050  P060102007         1
...           ...             ...         ...       ...
104676   20180221  ZZ000000000000  P050101001         1
104677   20190911  ZZ000000000000  P071006005         1
104678   20170311  CS040513000195  P050405003         1
104679   20170331  CS002513000049  P060303001         1
104680   20190423  ZZ000000000000  P050601001         1

[104681 rows x 4 columns]

In [7]:
# Cach 3: Use Location
df_receipt.loc[:,['sales_ymd','customer_id','product_cd','amount',]]

        sales_ymd     customer_id  product_cd  amount
0        20181103  CS006214000001  P070305012     158
1        20181118  CS008415000097  P070701017      81
2        20170712  CS028414000014  P060101005     170
3        20190205  ZZ000000000000  P050301001      25
4        20180821  CS025415000050  P060102007      90
...           ...             ...         ...     ...
104676   20180221  ZZ000000000000  P050101001      40
104677   20190911  ZZ000000000000  P071006005     218
104678   20170311  CS040513000195  P050405003     168
104679   20170331  CS002513000049  P060303001     148
104680   20190423  ZZ000000000000  P050601001     138

[104681 rows x 4 columns]

---
> P-003: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and display 10 rows. However, change the item name sales_ymd to sales_date when extracting.

In [8]:
# Option 1: Reassign the result
df_receipt.loc[:,['sales_ymd','customer_id','product_cd','amount',]].rename(columns={'sales_ymd': 'sales_date'})

        sales_date     customer_id  product_cd  amount
0         20181103  CS006214000001  P070305012     158
1         20181118  CS008415000097  P070701017      81
2         20170712  CS028414000014  P060101005     170
3         20190205  ZZ000000000000  P050301001      25
4         20180821  CS025415000050  P060102007      90
...            ...             ...         ...     ...
104676    20180221  ZZ000000000000  P050101001      40
104677    20190911  ZZ000000000000  P071006005     218
104678    20170311  CS040513000195  P050405003     168
104679    20170331  CS002513000049  P060303001     148
104680    20190423  ZZ000000000000  P050601001     138

[104681 rows x 4 columns]

In [9]:
# Option 2: Modify In-Place DO NOT RUN
df_receipt.rename(columns={'sales_ymd': 'sales_date'}, inplace=True)

---
> P-004: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets the following condition:
> * The customer ID (customer_id) is "CS018205000001".

In [10]:
get_data = df_receipt[df_receipt['customer_id'] == 'CS018205000001']
get_data

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
36,20180911,1536624000,S13018,1122,2,CS018205000001,P071401012,1,2200
9843,20180414,1523664000,S13018,1142,2,CS018205000001,P060104007,6,600
21110,20170614,1497398400,S13018,1112,2,CS018205000001,P050206001,5,990
27673,20170614,1497398400,S13018,1112,1,CS018205000001,P060702015,1,108
27840,20190216,1550275200,S13018,1152,2,CS018205000001,P071005024,1,102
28757,20180414,1523664000,S13018,1142,1,CS018205000001,P071101002,1,278
39256,20190226,1551139200,S13018,1132,2,CS018205000001,P070902035,1,168
58121,20190924,1569283200,S13018,1102,1,CS018205000001,P060805001,1,495
68117,20190226,1551139200,S13018,1132,1,CS018205000001,P071401020,1,2200
72254,20180911,1536624000,S13018,1122,1,CS018205000001,P071401005,1,1100
88508,20190216,1550275200,S13018,1152,1,CS018205000001,P040101002,1,218
91525,20190924,1569283200,S13018,1102,2,CS018205000001,P091503001,1,280

---
> P-005: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more.

In [11]:
get_data = df_receipt[(df_receipt['customer_id'] == 'CS018205000001') & (df_receipt['amount'] > 1000)]
get_data

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
36,20180911,1536624000,S13018,1122,2,CS018205000001,P071401012,1,2200
68117,20190226,1551139200,S13018,1132,1,CS018205000001,P071401020,1,2200
72254,20180911,1536624000,S13018,1122,1,CS018205000001,P071401005,1,1100

---
> P-006: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), sales quantity (quantity), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more or the sales quantity (quantity) is 5 or more.

In [12]:
new_df = df_receipt[(df_receipt['customer_id'] == 'CS018205000001') & 
                         ((df_receipt['amount'] >= 1000) | (df_receipt['quantity'] >= 5))]

result_df = new_df[['sales_date', 'customer_id', 'product_cd', 'quantity', 'amount']]
result_df

       sales_date     customer_id  product_cd  quantity  amount
36       20180911  CS018205000001  P071401012         1    2200
9843     20180414  CS018205000001  P060104007         6     600
21110    20170614  CS018205000001  P050206001         5     990
68117    20190226  CS018205000001  P071401020         1    2200
72254    20180911  CS018205000001  P071401005         1    1100

---
> P-007: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The sales amount (amount) is 1,000 or more and 2,000 or less.

In [13]:
# OPTION 1: Use Bitwise
df_receipt[(df_receipt['customer_id'] == 'CS018205000001') & (1000 < df_receipt['amount']) &  (df_receipt['amount']< 2000)]

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
72254,20180911,1536624000,S13018,1122,1,CS018205000001,P071401005,1,1100

In [14]:
# OPTION 2: Use df.between(1001,1999) ([1001,1999])
df_receipt[(df_receipt['customer_id'] == 'CS018205000001') & (df_receipt['amount']).between(1001, 1999)]

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
72254,20180911,1536624000,S13018,1122,1,CS018205000001,P071401005,1,1100

---
> P-008: From the receipt details data (df_receipt), specify the columns in the order of sales date (sales_ymd), customer ID (customer_id), product code (product_cd), and sales amount (amount), and extract the data that meets all of the following conditions:
> * The customer ID (customer_id) is "CS018205000001".
> * The product code (product_cd) is not "P071401019".

In [15]:
new_df = df_receipt[(df_receipt['customer_id'] == 'CS018205000001') & (df_receipt['product_cd'] != 'P071401019')]
result_df = new_df[['sales_ymd', 'customer_id', 'product_cd', 'amount']]
result_df

KeyError: "['sales_ymd'] not in index"

---
> P-009: Rewrite the following process without changing the output results, replacing the OR condition with AND.
> 
> `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [ ]:
df_store.query('prefecture_cd != "13" & floor_area <= 900')

In [ ]:
df_store.query('~(prefecture_cd == "13") & ~(floor_area > 900)')

---
> P-010: From the store data (df_store), extract and display 10 rows of all items where the store code (store_cd) starts with "S14".

In [ ]:
df_store[df_store['store_cd'].str.startswith('S14')].head(10)

---
> P-011: From the customer data (df_customer), extract and display 10 rows of all items where the customer ID (customer_id) ends with "01".

In [ ]:
df_customer[df_customer['customer_id'].str.endswith('01')].head(10)

---
> P-012: From the store data (df_store), display all items that include "Yokohama City" in the address (address).

In [ ]:
df_store[df_store['address'].str.contains('Yokohama City', case=False)]

In [ ]:
df_store[df_store['address'].str.contains('Yokohama City', case=True)]

---
> P-013: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) starts with an alphabet from A to F.

In [ ]:
df_customer[df_customer['status_cd'].str.match('^[A-F]', case=False)].head(10)

---
> P-014: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) ends with a number from 1 to 9.

In [ ]:
df_customer[df_customer['status_cd'].str.match('[1-9]$', case=False)].head(10)

---
> P-015: From the customer data (df_customer), extract and display 10 rows of all items where the status code (status_cd) starts with an alphabet from A to F and ends with a number from 1 to 9.

In [ ]:
df_customer[df_customer['status_cd'].str.match('^[A-F].*[1-9]$',case=False)].head(10)

---
> P-016: From the store data (df_store), display all items where the telephone number (tel_no) starts with 3 digits and ends with 4 digits.

In [ ]:
df_store[df_store['tel_no'].str.match(r'^\d{3}.*\d{4}$')] # Starts with 3 digits == ^\d{3} and (.*) ends with 4 digits \d{4}$

---
> P-017: Sort the customer data (df_customer) in descending order by birth date (birth_day), and display the first 10 rows of all items.

In [ ]:
df_sorted = df_customer.sort_values(by='birth_day', ascending=False)
df_sorted

---
> P-018: Sort the customer data (df_customer) in ascending order by birth date (birth_day), and display the first 10 rows of all items.

In [ ]:
df_sorted = df_customer.sort_values(by='birth_day', ascending=True).head(10)
df_sorted

---
> P-019: For the receipt details data (df_receipt), rank the items in descending order by sales amount per item (amount), and display the top 10 rows with the assigned rank. The columns to display are customer ID (customer_id) and sales amount (amount). In the case of ties in sales amount, assign the same rank and skip the next rank.

In [ ]:
df_receipt['rank'] = df_receipt['amount'].rank(method='min',ascending=False)
new_df = df_receipt.sort_values(by='rank').head(10)
result = new_df[['customer_id', 'amount', 'rank']]
result

---
> P-020: For the receipt details data (df_receipt), rank the items in descending order by sales amount per item (amount), and display the top 10 rows with the assigned rank. The columns to display are customer ID (customer_id) and sales amount (amount). In the case of ties in sales amount, assign the same rank but give the next rank to the following item.

In [ ]:
df_receipt['rank'] = df_receipt['amount'].rank(method='dense',ascending=False)
new_df = df_receipt.sort_values(by='rank').head(10)
result = new_df[['customer_id', 'amount', 'rank']]
result

---
> P-021: Count the number of items in the receipt details data (df_receipt).

In [15]:
df_receipt['quantity'].count()

104681

---
> P-022: Count the number of unique values in the customer ID (customer_id) column in the receipt details data (df_receipt).

In [25]:
df_receipt['customer_id'].unique()

array(['CS006214000001', 'CS008415000097', 'CS028414000014', ...,
       'CS004613000146', 'CS002314000037', 'CS040311000022'], dtype=object)

In [26]:
df_receipt['customer_id'].nunique()

8307

---
> P-023: For the receipt details data (df_receipt), sum the sales amount (amount) and sales quantity (quantity) for each store code (store_cd).

In [29]:
sum = df_receipt['amount'] + df_receipt['quantity']
sum

0         159
1          82
2         171
3          26
4          91
         ...
104676     41
104677    219
104678    169
104679    149
104680    139
Length: 104681, dtype: int64

In [33]:
#  Use Group by
store_sum = df_receipt.groupby('store_cd')[['amount', 'quantity']].sum().reset_index()
store_sum

   store_cd  amount  quantity
0    S12007  638761      2099
1    S12013  787513      2425
2    S12014  725167      2358
3    S12029  794741      2555
4    S12030  684402      2403
5    S13001  811936      2347
6    S13002  727821      2340
7    S13003  764294      2197
8    S13004  779373      2390
9    S13005  629876      2004
10   S13008  809288      2491
11   S13009  808870      2486
12   S13015  780873      2248
13   S13016  793773      2432
14   S13017  748221      2376
15   S13018  790535      2562
16   S13019  827833      2541
17   S13020  796383      2383
18   S13031  705968      2336
19   S13032  790501      2491
20   S13035  715869      2219
21   S13037  693087      2344
22   S13038  708884      2337
23   S13039  611888      1981
24   S13041  728266      2233
25   S13043  587895      1881
26   S13044  520764      1729
27   S13051  107452       354
28   S13052  100314       250
29   S14006  712839      2284
30   S14010  790361      2290
31   S14011  805724      2434
32   S14012  720600      2412
33   S14021  699511      2231
34   S14022  651328      2047
35   S14023  727630      2258
36   S14024  736323      2417
37   S14025  755581      2394
38   S14026  824537      2503
39   S14027  714550      2303
40   S14028  786145      2458
41   S14033  725318      2282
42   S14034  653681      2024
43   S14036  203694       635
44   S14040  701858      2233
45   S14042  534689      1935
46   S14045  458484      1398
47   S14046  412646      1354
48   S14047  338329      1041
49   S14048  234276       769
50   S14049  230808       788
51   S14050  167090       580

In [34]:
# Use pivot table
store_sum = df_receipt.pivot_table(
    index='store_cd',
    values=['amount', 'quantity'],
    aggfunc='sum'
).reset_index()
store_sum

   store_cd  amount  quantity
0    S12007  638761      2099
1    S12013  787513      2425
2    S12014  725167      2358
3    S12029  794741      2555
4    S12030  684402      2403
5    S13001  811936      2347
6    S13002  727821      2340
7    S13003  764294      2197
8    S13004  779373      2390
9    S13005  629876      2004
10   S13008  809288      2491
11   S13009  808870      2486
12   S13015  780873      2248
13   S13016  793773      2432
14   S13017  748221      2376
15   S13018  790535      2562
16   S13019  827833      2541
17   S13020  796383      2383
18   S13031  705968      2336
19   S13032  790501      2491
20   S13035  715869      2219
21   S13037  693087      2344
22   S13038  708884      2337
23   S13039  611888      1981
24   S13041  728266      2233
25   S13043  587895      1881
26   S13044  520764      1729
27   S13051  107452       354
28   S13052  100314       250
29   S14006  712839      2284
30   S14010  790361      2290
31   S14011  805724      2434
32   S14012  720600      2412
33   S14021  699511      2231
34   S14022  651328      2047
35   S14023  727630      2258
36   S14024  736323      2417
37   S14025  755581      2394
38   S14026  824537      2503
39   S14027  714550      2303
40   S14028  786145      2458
41   S14033  725318      2282
42   S14034  653681      2024
43   S14036  203694       635
44   S14040  701858      2233
45   S14042  534689      1935
46   S14045  458484      1398
47   S14046  412646      1354
48   S14047  338329      1041
49   S14048  234276       769
50   S14049  230808       788
51   S14050  167090       580

---
> P-024: For each customer ID (customer_id) in the receipt details data (df_receipt), find the most recent sales date (sales_ymd), and display the top 10 rows.

In [37]:
df_receipt.groupby('customer_id')['sales_date'].max().head(10).reset_index()

      customer_id  sales_date
0  CS001113000004    20190308
1  CS001114000005    20190731
2  CS001115000010    20190405
3  CS001205000004    20190625
4  CS001205000006    20190224
5  CS001211000025    20190322
6  CS001212000027    20170127
7  CS001212000031    20180906
8  CS001212000046    20170811
9  CS001212000070    20191018

---
> P-025: For each customer ID (customer_id) in the receipt details data (df_receipt), find the oldest sales date (sales_ymd), and display the top 10 rows.

In [39]:
oldest_sales_date = df_receipt.groupby('customer_id')['sales_date'].min().reset_index()
oldest_sales_date = oldest_sales_date.sort_values(by='sales_date')
oldest_sales_date.head(10)

         customer_id  sales_date
8306  ZZ000000000000    20170101
7251  CS035414000008    20170101
2840  CS012214000008    20170101
6723  CS032414000119    20170101
6712  CS032414000045    20170101
6498  CS031414000041    20170101
6091  CS029414000005    20170101
6044  CS029214000004    20170101
2095  CS008414000056    20170101
5620  CS026515000081    20170101

---
> P-026: For each customer ID (customer_id) in the receipt details data (df_receipt), find the most recent and the oldest sales dates (sales_ymd), and display the top 10 rows where the gap is the smallest.

In [5]:
df_receipt['sales_ymd'] = pd.to_datetime(df_receipt['sales_ymd'])

# Group by customer ID
df_customer_sales = df_receipt.groupby('customer_id').agg(
    oldest_sale = ('sales_ymd', 'min'),
    most_recent_sale = ('sales_ymd', 'max')
).reset_index()

# Calculate the gap
df_customer_sales['gap_days'] = (df_customer_sales['most_recent_sale'] - df_customer_sales['oldest_sale']).dt.days

df_top_customers = df_customer_sales.sort_values(by='gap_days').head(10)
# Display the relevant columns
df_top_customers[['customer_id', 'oldest_sale', 'most_recent_sale', 'gap_days']]

,customer_id,oldest_sale,most_recent_sale,gap_days
0,CS001113000004,1970-01-01 00:00:00.020190308,1970-01-01 00:00:00.020190308,0
5546,CS026415000175,1970-01-01 00:00:00.020170911,1970-01-01 00:00:00.020191015,0
5545,CS026415000172,1970-01-01 00:00:00.020170206,1970-01-01 00:00:00.020190414,0
5544,CS026415000157,1970-01-01 00:00:00.020170305,1970-01-01 00:00:00.020180512,0
5543,CS026415000154,1970-01-01 00:00:00.020170227,1970-01-01 00:00:00.020190519,0
5542,CS026415000150,1970-01-01 00:00:00.020170125,1970-01-01 00:00:00.020191020,0
5541,CS026415000149,1970-01-01 00:00:00.020170122,1970-01-01 00:00:00.020190312,0
5540,CS026415000145,1970-01-01 00:00:00.020170905,1970-01-01 00:00:00.020180616,0
5539,CS026415000141,1970-01-01 00:00:00.020170201,1970-01-01 00:00:00.020190615,0
5538,CS026415000123,1970-01-01 00:00:00.020170206,1970-01-01 00:00:00.020190417,0

---
> P-027: For each store code (store_cd) in the receipt details data (df_receipt), calculate the average sales amount (amount), and display the top 5 in descending order.

In [9]:
# Group by store_cd and calculate the average sales amount
df_store_avg =df_receipt.groupby('store_cd').agg(
    average_sales = ('amount', 'mean')
).reset_index()

# Sort
df_top5_store = df_store_avg.sort_values(by='average_sales', ascending=False).head(5)

df_top5_store[['store_cd', 'average_sales']]

   store_cd  average_sales
28   S13052     402.867470
12   S13015     351.111960
7    S13003     350.915519
30   S14010     348.791262
5    S13001     348.470386

---
> P-028: For each store code (store_cd) in the receipt details data (df_receipt), calculate the median sales amount (amount), and display the top 5 in descending order.

In [11]:
# Group by store_cd and calculate the average sales amount
df_store_med =df_receipt.groupby('store_cd').agg(
    median_sales = ('amount', 'median')
).reset_index()

# Sort
df_top5_store = df_store_med.sort_values(by='median_sales', ascending=False).head(5)

df_top5_store[['store_cd', 'median_sales']]

   store_cd  median_sales
28   S13052         190.0
30   S14010         188.0
51   S14050         185.0
44   S14040         180.0
7    S13003         180.0

---
> P-029: For each store code (store_cd) in the receipt details data (df_receipt), find the most frequent product code (product_cd), and display the top 10.

In [13]:
# Group by store_cd and product_cd
df_product_count = df_receipt.groupby(['store_cd', 'product_cd']).size().reset_index(name='count')

# For each store, find the most frequent product
df_most_frequent = df_product_count.loc[df_product_count.groupby('store_cd')['count'].idxmax()] # Select the row maximum count for each store_cd

# Sort the result in ascending and get the top 10
df_top_products = df_most_frequent.sort_values(by='count', ascending=False).head(10)

# Display 
df_top_products[['store_cd', 'product_cd', 'count']]

      store_cd  product_cd  count
43612   S14027  P060303001    152
35369   S14012  P060303001    142
44757   S14028  P060303001    140
4977    S12030  P060303001    115
21302   S13031  P060303001    115
1446    S12013  P060303001    107
30357   S13044  P060303001     96
39994   S14024  P060303001     96
3765    S12029  P060303001     92
9564    S13004  P060303001     88

---
> P-030: For each store code (store_cd) in the receipt details data (df_receipt), calculate the variance of the sales amount (amount), and display the top 5 in descending order.

In [16]:
df_sales_var = df_receipt.groupby('store_cd').agg(
    sales_variance = ('amount', 'var')
).reset_index()

# Sort
df_sales_var = df_sales_var.sort_values(by='sales_variance', ascending=False).head(5)

df_sales_var

   store_cd  sales_variance
28   S13052   441863.252526
31   S14011   306442.242432
42   S14034   297068.392740
5    S13001   295558.842618
12   S13015   295427.197086

---
> P-031: For each store code (store_cd) in the receipt details data (df_receipt), calculate the standard deviation of the sales amount (amount), and display the top 5 in descending order.

TIPS:

Pay attention to the default ddof value difference between Pandas and Numpy.
```
Pandasï¼
DataFrame.std(self, axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
Numpy:
numpy.std(a, axis=None, dtype=None, out=None, ddof=0, keepdims=)|
```

In [19]:
top_5 = df_receipt.groupby('store_cd')['amount'].std()
top_5 = top_5.sort_values(ascending=False).head(5)
top_5

store_cd
S13052    664.727954
S14011    553.572256
S14034    545.039808
S13001    543.653237
S13015    543.532149
Name: amount, dtype: float64

---
> P-032: For the sales amount (amount) in the receipt details data (df_receipt), calculate the 25th and 75th percentile values.

In [24]:
df_receipt['amount'].quantile([0.25, 0.75])

0.25    102.0
0.75    288.0
Name: amount, dtype: float64

---
> P-033: For the receipt details data (df_receipt), calculate the average sales amount (amount) for each store code (store_cd), and extract those that are 330 or more.

In [28]:
mean_amount =df_receipt.groupby('store_cd').agg(
                average_sales = ('amount', 'mean')
            )
mean_amount[mean_amount['average_sales'] >= 330]

          average_sales
store_cd
S12013       330.194130
S13001       348.470386
S13003       350.915519
S13004       330.943949
S13015       351.111960
S13019       330.208616
S13020       337.879932
S13052       402.867470
S14010       348.791262
S14011       335.718333
S14026       332.340588
S14045       330.082073
S14047       330.077073

---
> P-034: For the receipt details data (df_receipt), calculate the average sales amount (amount) per customer ID (customer_id), and exclude the average sales amount per customer whose ID starts with "Z" from the overall average calculation.

In [34]:
mean_sale_customer = df_receipt.groupby('customer_id').agg(
                        average_sales = ('amount', 'mean')
                     )
mean_sale_customer = mean_sale_customer[~mean_sale_customer.index.str.startswith('Z')]
result = mean_sale_customer[['average_sales']] # We dont need mean_sale_customer[['customer_id','average_sales]] because customer_id already groupby
result

                average_sales
customer_id
CS001113000004     649.000000
CS001114000005     156.500000
CS001115000010     507.333333
CS001205000004     198.800000
CS001205000006     278.083333
...                       ...
CS051212000001     168.000000
CS051513000004     275.500000
CS051515000002     132.500000
CS052212000002      96.000000
CS052514000001      89.000000

[8306 rows x 1 columns]

---
> P-035: For the receipt details data (df_receipt), calculate the average sales amount (amount) per customer ID (customer_id), and extract the top 10 customers with above-average sales amounts. Exclude the average sales amount per customer whose ID starts with "Z" from the overall average calculation.

In [40]:
mean_sale_customer = df_receipt.groupby('customer_id').agg(
    average_sales = ('amount', 'mean')
)
mean_sale_customer = mean_sale_customer[~mean_sale_customer.index.str.startswith('Z')]
overall_average = mean_sale_customer['average_sales'].mean()

# Etract top 10 customer
top_customers = mean_sale_customer[mean_sale_customer['average_sales'] >= overall_average].nlargest(10, 'average_sales')
top_customers

                average_sales
customer_id
CS008513000063         2694.0
CS015615000147         2634.0
CS003803000016         2580.0
CS011315000133         2579.0
CS035412000064         2564.0
CS013413000099         2554.0
CS012815000021         2551.0
CS001615000201         2550.0
CS004411000027         2529.0
CS011314000046         2482.0

---
> P-036: Merge the receipt details data (df_receipt) and the store data (df_store), and display 10 rows of all items, including the store name (store_name) from the store data.

In [43]:
merge_36 = pd.merge(df_receipt, df_store, on='store_cd', how='inner')
merge_36

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158,èãè°·åº,14,ç¥å¥å·ç,ç¥å¥å·çæ¨ªæµå¸é½ç­åºèãè°·,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0
1,20181116,1542326400,S14006,112,2,ZZ000000000000,P080401001,1,48,èãè°·åº,14,ç¥å¥å·ç,ç¥å¥å·çæ¨ªæµå¸é½ç­åºèãè°·,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0
2,20170118,1484697600,S14006,1162,1,CS006815000006,P050406035,1,220,èãè°·åº,14,ç¥å¥å·ç,ç¥å¥å·çæ¨ªæµå¸é½ç­åºèãè°·,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0
3,20190524,1558656000,S14006,1192,1,CS006514000034,P060104003,1,80,èãè°·åº,14,ç¥å¥å·ç,ç¥å¥å·çæ¨ªæµå¸é½ç­åºèãè°·,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0
4,20190419,1555632000,S14006,112,2,ZZ000000000000,P060501002,1,148,èãè°·åº,14,ç¥å¥å·ç,ç¥å¥å·çæ¨ªæµå¸é½ç­åºèãè°·,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104676,20190821,1566345600,S13052,1102,1,ZZ000000000000,P071101001,1,278,æ£®éåº,13,æ±äº¬é½,æ±äº¬é½çºç°å¸æ£®éä¸ä¸ç®,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0
104677,20190803,1564790400,S13052,1162,1,ZZ000000000000,P071005011,1,102,æ£®éåº,13,æ±äº¬é½,æ±äº¬é½çºç°å¸æ£®éä¸ä¸ç®,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0
104678,20190714,1563062400,S13052,1132,2,ZZ000000000000,P080105001,1,135,æ£®éåº,13,æ±äº¬é½,æ±äº¬é½çºç°å¸æ£®éä¸ä¸ç®,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0
104679,20190916,1568592000,S13052,1102,1,ZZ000000000000,P070709001,1,98,æ£®éåº,13,æ±äº¬é½,æ±äº¬é½çºç°å¸æ£®éä¸ä¸ç®,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0
104680,20190826,1566777600,S13052,1152,2,ZZ000000000000,P080202010,1,90,æ£®éåº,13,æ±äº¬é½,æ±äº¬é½çºç°å¸æ£®éä¸ä¸ç®,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0

In [47]:
df_receipt

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81
2,20170712,1499817600,S14028,1102,1,CS028414000014,P060101005,1,170
3,20190205,1549324800,S14042,1132,1,ZZ000000000000,P050301001,1,25
4,20180821,1534809600,S14025,1102,2,CS025415000050,P060102007,1,90
...,...,...,...,...,...,...,...,...,...
104676,20180221,1519171200,S13043,1132,2,ZZ000000000000,P050101001,1,40
104677,20190911,1568160000,S14047,1132,2,ZZ000000000000,P071006005,1,218
104678,20170311,1489190400,S14040,1122,1,CS040513000195,P050405003,1,168
104679,20170331,1490918400,S13002,1142,1,CS002513000049,P060303001,1,148
104680,20190423,1555977600,S13016,1102,2,ZZ000000000000,P050601001,1,138

In [46]:
result_36 = merge_36[['store_cd', 'store_name','amount','customer_id']].head(10)
result_36

  store_cd store_name  amount     customer_id
0   S14006       èãè°·åº     158  CS006214000001
1   S14006       èãè°·åº      48  ZZ000000000000
2   S14006       èãè°·åº     220  CS006815000006
3   S14006       èãè°·åº      80  CS006514000034
4   S14006       èãè°·åº     148  ZZ000000000000
5   S14006       èãè°·åº      88  ZZ000000000000
6   S14006       èãè°·åº      80  CS006515000175
7   S14006       èãè°·åº     405  CS006415000221
8   S14006       èãè°·åº     330  CS006411000036
9   S14006       èãè°·åº     115  CS006211000012

---
> P-037: Merge the product data (df_product) and the category data (df_category), and display 10 rows of all items, including the category small name (category_small_name) from the category data.

In [50]:
df_category

,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name
0,04,æ£è,0401,å¾¡é£¯é¡,040101,å¼å½é¡
1,04,æ£è,0401,å¾¡é£¯é¡,040102,å¯¿å¸é¡
2,04,æ£è,0402,ä½ç ®é¡,040201,é­ä»ä½ç ®é¡
3,04,æ£è,0402,ä½ç ®é¡,040202,æµ·èä½ç ®é¡
4,04,æ£è,0402,ä½ç ®é¡,040203,éèä½ç ®é¡
...,...,...,...,...,...,...
223,09,æ´å¤,0914,ããããã¼ã,091401,ããããã¼ã
224,09,æ´å¤,0914,ããããã¼ã,091402,ãããç¨å¤
225,09,æ´å¤,0914,ããããã¼ã,091403,ãããç¨å ·
226,09,æ´å¤,0915,ï¼¤ï¼©ï¼¹ç¨å,091501,å»ºç¯ã»å¡è£ ææ
227,09,æ´å¤,0915,ï¼¤ï¼©ï¼¹ç¨å,091503,åè¸ç¨å

In [52]:
df_product

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,04,0401,040101,198.0,149.0
1,P040101002,04,0401,040101,218.0,164.0
2,P040101003,04,0401,040101,230.0,173.0
3,P040101004,04,0401,040101,248.0,186.0
4,P040101005,04,0401,040101,268.0,201.0
...,...,...,...,...,...,...
10025,P091503001,09,0915,091503,280.0,210.0
10026,P091503002,09,0915,091503,680.0,510.0
10027,P091503003,09,0915,091503,1080.0,810.0
10028,P091503004,09,0915,091503,1130.0,848.0
10029,P091503005,09,0915,091503,1280.0,960.0

In [51]:
merged_data = pd.merge(df_product, df_category, on='category_major_cd', how='inner')
merged_data

,product_cd,category_major_cd,category_medium_cd_x,category_small_cd_x,unit_price,unit_cost,category_major_name,category_medium_cd_y,category_medium_name,category_small_cd_y,category_small_name
0,P040101001,04,0401,040101,198.0,149.0,æ£è,0401,å¾¡é£¯é¡,040101,å¼å½é¡
1,P040101001,04,0401,040101,198.0,149.0,æ£è,0401,å¾¡é£¯é¡,040102,å¯¿å¸é¡
2,P040101001,04,0401,040101,198.0,149.0,æ£è,0402,ä½ç ®é¡,040201,é­ä»ä½ç ®é¡
3,P040101001,04,0401,040101,198.0,149.0,æ£è,0402,ä½ç ®é¡,040202,æµ·èä½ç ®é¡
4,P040101001,04,0401,040101,198.0,149.0,æ£è,0402,ä½ç ®é¡,040203,éèä½ç ®é¡
...,...,...,...,...,...,...,...,...,...,...,...
513087,P091503005,09,0915,091503,1280.0,960.0,æ´å¤,0914,ããããã¼ã,091401,ããããã¼ã
513088,P091503005,09,0915,091503,1280.0,960.0,æ´å¤,0914,ããããã¼ã,091402,ãããç¨å¤
513089,P091503005,09,0915,091503,1280.0,960.0,æ´å¤,0914,ããããã¼ã,091403,ãããç¨å ·
513090,P091503005,09,0915,091503,1280.0,960.0,æ´å¤,0915,ï¼¤ï¼©ï¼¹ç¨å,091501,å»ºç¯ã»å¡è£ ææ
513091,P091503005,09,0915,091503,1280.0,960.0,æ´å¤,0915,ï¼¤ï¼©ï¼¹ç¨å,091503,åè¸ç¨å

---
> P-038: From the customer data (df_customer) and the receipt details data (df_receipt), calculate the total sales amount for each customer and display the top 10. However, exclude customers without sales data and only display female customers (gender code (gender_cd) = 1).

In [54]:
df_customer

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS021313000114,å¤§é ããå­,1,å¥³æ§,1981-04-29,37,259-1113,ç¥å¥å·çä¼å¢åå¸ç²çªª**********,S14021,20150905,0-00000000-0
1,CS037613000071,å ­è§ é å½¦,9,ä¸æ,1952-04-01,66,136-0076,æ±äº¬é½æ±æ±åºåç **********,S13037,20150414,0-00000000-0
2,CS031415000172,å®å¤ç° è²´ç¾å­,1,å¥³æ§,1976-10-04,42,151-0053,æ±äº¬é½æ¸è°·åºä»£ã æ¨**********,S13031,20150529,D-20100325-C
3,CS028811000001,å äº ããã,1,å¥³æ§,1933-03-27,86,245-0016,ç¥å¥å·çæ¨ªæµå¸æ³åºåæ³çº**********,S14028,20160115,0-00000000-0
4,CS001215000145,ç°å´ ç¾ç´,1,å¥³æ§,1995-03-29,24,144-0055,æ±äº¬é½å¤§ç°åºä»²å ­é·**********,S13001,20170605,6-20090929-2
...,...,...,...,...,...,...,...,...,...,...,...
21966,CS002512000474,å¸æ å¤å¸,1,å¥³æ§,1959-10-12,59,185-0034,æ±äº¬é½å½åå¯ºå¸å çº**********,S13002,20171110,0-00000000-0
21967,CS029414000065,ä¸æ æå¥,1,å¥³æ§,1970-10-19,48,279-0043,åèçæµ¦å®å¸å¯å£«è¦**********,S12029,20150313,F-20101028-F
21968,CS012403000043,å è¶ æ,0,ç·æ§,1972-12-16,46,231-0825,ç¥å¥å·çæ¨ªæµå¸ä¸­åºæ¬ç§éé**********,S14012,20150406,0-00000000-0
21969,CS033512000184,æ± è°· è¯å­,1,å¥³æ§,1964-06-05,54,245-0016,ç¥å¥å·çæ¨ªæµå¸æ³åºåæ³çº**********,S14033,20160206,0-00000000-0
21970,CS009213000022,ç¨²å£ å²,1,å¥³æ§,1996-08-16,22,154-0012,æ±äº¬é½ä¸ç°è°·åºé§æ²¢**********,S13009,20150424,0-00000000-0

In [58]:
merged_data = pd.merge(df_customer, df_receipt, on='customer_id', how='inner')

# Filter for female customers (assuming 'gender_cd' = 1 represents females)
female_customers = merged_data[merged_data['gender_cd'] == 1]

# Group by 'customer_id' and calculate the total sales amount for female customers
total_sales_per_customer = female_customers.groupby('customer_id').agg(
    total_sales=('amount', 'sum')
)

# Sort by total sales in descending order and select the top 10
top_10_customers = total_sales_per_customer.sort_values(by='total_sales', ascending=False).head(10)

top_10_customers

Empty DataFrame
Columns: [total_sales]
Index: []

---
> P-039: From the receipt details data (df_receipt), create a dataset of the top 20 customers with the highest number of sales transactions and another dataset of the top 20 customers with the highest total sales amount, then merge these two datasets to display the top 20. Exclude non-members (customer ID (customer_id) starting with "Z").

In [71]:
non_Z = df_receipt[~df_receipt['customer_id'].str.startswith('Z')]
sales_epoch = non_Z.groupby('customer_id')['sales_epoch'].size().nlargest(20)
sales_amount = non_Z.groupby('customer_id')['amount'].sum().nlargest(20)
merged_data = pd.merge(sales_epoch, sales_amount, on='customer_id', how='inner')
merged_data

                sales_epoch  amount
customer_id
CS010214000010           44   18585
CS015415000185           44   20153
CS028415000007           42   19127
CS016415000141           40   18372
CS017415000097           40   23086
CS031414000051           38   19202

---
> P-040: Create a dataset combining all products from all stores, and merge it with the store data (df_store) and product data (df_product).

In [77]:
merge_1 = pd.merge(df_receipt, df_store, on='store_cd', how='inner')
merge_2 = pd.merge(merge_1, df_product, on='product_cd', how='inner')
merge_2

,sales_date,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount,store_name,...,address_kana,tel_no,longitude,latitude,floor_area,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158,èãè°·åº,...,ã«ãã¬ã¯ã±ã³ã¨ã³ããã·ãã ã­ã¯ã¯ãºã¬ã¤,045-123-4031,139.5633,35.53573,1886.0,07,0703,070305,158.0,119.0
1,20190819,1566172800,S14034,1162,2,ZZ000000000000,P070305012,1,158,å·å´éå·åº,...,ã«ãã¬ã¯ã±ã³ã«ã¯ãµã­ã·ãã¤ãã¨ã¯ãã¬ã¯,044-123-4044,139.5998,35.57693,1318.0,07,0703,070305,158.0,119.0
2,20180522,1526947200,S13018,1192,1,ZZ000000000000,P070305012,1,158,æ¸ ç¬åº,...,ãã¦ã­ã§ã¦ãã­ã¨ã»ã·ããã¤ãã¤ããã§ã¦ã¡,042-123-4017,139.5178,35.76885,1220.0,07,0703,070305,158.0,119.0
3,20190109,1546992000,S13004,1112,2,ZZ000000000000,P070305012,1,158,é·ºå®®åº,...,ãã¦ã­ã§ã¦ããã«ãã¯ãµã®ããã¤ãµã³ãã§ã¦ã¡,03-0123-4010,139.6421,35.72348,947.0,07,0703,070305,158.0,119.0
4,20170704,1499126400,S12013,1192,2,CS013515000134,P070305012,1,158,ç¿å¿éåº,...,ããã±ã³ãã©ã·ãã·ã·ãã¾ãã¤ããã§ã¦ã¡,047-123-4002,140.0220,35.66122,808.0,07,0703,070305,158.0,119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104676,20190609,1560038400,S13051,1142,1,ZZ000000000000,P090204174,1,1100,æ¿æ©å¤§ååº,...,ãã¦ã­ã§ã¦ãã¤ã¿ãã·ã¯ãªãªãã©ãã§ã¦,03-0123-4029,139.6980,35.76788,1045.0,09,0902,090204,1100.0,825.0
104677,20190929,1569715200,S13051,1102,2,ZZ000000000000,P070101133,1,498,æ¿æ©å¤§ååº,...,ãã¦ã­ã§ã¦ãã¤ã¿ãã·ã¯ãªãªãã©ãã§ã¦,03-0123-4029,139.6980,35.76788,1045.0,07,0701,070101,498.0,374.0
104678,20190723,1563840000,S13052,1182,1,ZZ000000000000,P050502150,1,333,æ£®éåº,...,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0,05,0505,050502,333.0,250.0
104679,20191017,1571270400,S13052,112,1,CS052212000002,P080103029,1,90,æ£®éåº,...,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0,08,0801,080103,90.0,65.0
104680,20190823,1566518400,S13052,1172,1,ZZ000000000000,P090904030,1,180,æ£®éåº,...,ãã¦ã­ã§ã¦ããããã·ã¢ãªããµã³ãã§ã¦ã¡,042-123-4030,139.4383,35.55293,1087.0,09,0909,090904,180.0,135.0

---
> P-041: For the sales amount (amount) in the receipt details data (df_receipt), calculate the difference in sales amount for each sales date (sales_ymd) compared to the previous day, then display the top 10 results.

---
> P-042: For the sales amount (amount) in the receipt details data (df_receipt), calculate the difference in sales amount for each sales date (sales_ymd) compared to the previous day, two days before, and three days before, then display the top 10 results.

---
> P-043: Merge the receipt details data (df_receipt) and customer data (df_customer), and create a summary dataset of total sales amount (amount) by gender code (gender_cd) and age group. Gender code 0 indicates male, 1 indicates female, and 9 indicates unknown. Display the total sales amount for each gender and age group, as well as a crosstabulation of gender and age group. Also, display the top 10 rows.

---
> P-044: The summary dataset created in P-043 (df_sales_summary) shows the total sales amount by gender and age group. Change the gender code values to "00" for male, "01" for female, and "99" for unknown, then display the top 10 rows.

---
> P-045: The birth date (birth_day) in the customer data (df_customer) is stored as date type data. Convert this to a string in the format YYYYMMDD and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-046: The application date (application_date) in the customer data (df_customer) is stored as a string in the format YYYYMMDD. Convert this to date type data and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-047: The sales date (sales_ymd) in the receipt details data (df_receipt) is stored as an integer in the format YYYYMMDD. Convert this to date type data and display it along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-048: The sales epoch (sales_epoch) in the receipt details data (df_receipt) is stored as integer UNIX seconds. Convert this to date type data and display it along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-049: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "year". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows.

---
> P-050: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "month". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows. Note that "month" should be extracted as a 2-digit number.

---
> P-051: Convert the sales epoch (sales_epoch) in the receipt details data (df_receipt) to date type data and extract only the "day". Display this along with the receipt number (receipt_no) and receipt sub-number (receipt_sub_no), showing the top 10 rows. Note that "day" should be extracted as a 2-digit number.

---
> P-052: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id). If the total is 2,000 yen or less, double the amount; if it is more than 2,000 yen, halve the amount. Display the customer ID and the calculated sales amount, showing the top 10 rows. Exclude customers whose ID starts with "Z".

---
> P-053: For the customer data (df_customer), reclassify the postal code (postal_cd) into two categories: "Tokyo" (if the first three digits are between 100 and 209) and "Other". Merge this with the receipt details data (df_receipt) and count the number of customers with sales records within each category.

---
> P-054: The address (address) in the customer data (df_customer) contains prefectures such as Saitama, Chiba, Tokyo, and Kanagawa. Create a code table for these prefectures and display it along with the customer ID and address, showing the top 10 rows. Assign Saitama a code of 11, Chiba 12, Tokyo 13, and Kanagawa 14.

---
> P-055: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id) and determine its quartile rank. Based on the quartile rank, create a category with the following values and display the customer ID and total sales amount, showing the top 10 rows:
> - 1: Bottom quartile (0-25%)
> - 2: Second quartile (25-50%)
> - 3: Third quartile (50-75%)
> - 4: Top quartile (75-100%)

---
> P-056: Extract the age (age) from the customer data (df_customer) and classify it into age groups by decade. Display the customer ID and birth date (birth_day), showing the top 10 rows. Treat customers aged 60 and above as a single category of "60+". The age category should be labeled.

---
> P-057: Using the extracted age groups and gender code (gender_cd) from P-056, create a new categorical dataset representing the combination of age group and gender. Display the top 10 rows and list the unique values of the combined category.

---
> P-058: P-058: Convert the gender code (gender_cd) in the customer data (df_customer) to dummy variables and display it along with the customer ID (customer_id), showing the top 10 rows.

---
> P-059: For the receipt details data (df_receipt), calculate the average, standard deviation, and coefficient of variation of the total sales amount (amount) for each customer ID (customer_id), and display the top 10 rows along with the customer ID and total sales amount. Use either the population standard deviation or the sample standard deviation. Exclude customers whose ID starts with "Z".

TIPS:
- You can specify "python" or "numexpr" as the query engine in the argument of the query() method. The default is "numexpr" if installed, otherwise "python" is used. Additionally, the string method engine='python' cannot be used within query().

---
> P-060: For the receipt details data (df_receipt), calculate the minimum and maximum total sales amount (amount) for each customer ID (customer_id), and normalize these values. Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-061: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id), and apply the natural logarithm transformation (base 10). Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-062: For the receipt details data (df_receipt), calculate the total sales amount (amount) for each customer ID (customer_id), and apply the natural logarithm transformation (base e). Display the top 10 rows along with the customer ID and total sales amount. Exclude customers whose ID starts with "Z".

---
> P-063: For the product data (df_product), calculate the gross profit for each product using the unit price (unit_price) and unit cost (unit_cost), and display the top 10 rows.

---
> P-064: For each product in the product data (df_product), calculate the average gross profit margin using the unit price (unit_price) and unit cost (unit_cost). Note that the unit price and unit cost may have missing values.

---
> P-065: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. Round down to the nearest yen. Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-066: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. This time, round up to the nearest yen (ceil). Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-067: For each product in the product data (df_product), calculate the new unit price that achieves a gross profit margin of 30%. This time, round up to the nearest yen. Display the top 10 results and confirm that the gross profit margin is approximately 30%. Note that the unit price (unit_price) and unit cost (unit_cost) may have missing values.

---
> P-068: For each product in the product data (df_product), calculate the price including a 10% consumption tax. Round down to the nearest yen and display the top 10 results. Note that the unit price (unit_price) may have missing values.

---
> P-069: Merge the receipt details data (df_receipt) and the product data (df_product), then calculate the total sales amount for each customer annually. Calculate the percentage of sales for the category major code (category_major_cd) "07" (Household appliances) and display the top 10 results. The extraction target is the category major code "07".

---
> P-070: For the receipt details data (df_receipt), calculate the number of elapsed days from the application date (application_date) of the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, and elapsed days along with the application date, showing the top 10 rows. Note that the application date is stored as a string.

---
> P-071: For the receipt details data (df_receipt), calculate the number of elapsed months from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed months along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-072: For the receipt details data (df_receipt), calculate the number of elapsed years from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed years along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-073: For the receipt details data (df_receipt), calculate the elapsed time in epochs from the application date (application_date) in the customer data (df_customer) for each sales date (sales_ymd). Display the customer ID (customer_id), sales date, application date, and elapsed time in epochs along with the top 10 rows. Note that sales_ymd and application_date are stored as integers. Also, assume that the default time for dates without a time component is 00:00:00.

---
> P-074: For the receipt details data (df_receipt), calculate the number of elapsed months from the current month to each sales date (sales_ymd). Display the sales date, current month, and elapsed months along with the top 10 rows. Note that sales_ymd is stored as an integer.

---
> P-075: Randomly sample 1% of the data from the customer data (df_customer) and display the top 10 rows.

---
> P-076: Randomly sample 10% of the data from the customer data (df_customer) by gender (gender_cd), and display the frequency count for each gender.

---
> P-077: For the receipt details data (df_receipt), calculate the sales amount per transaction, identify and extract outliers, and calculate the average and standard deviation for the remaining transactions. Consider values that are more than 3 standard deviations away from the average as outliers. Display the results and the top 10 rows.

---
> P-078: For the receipt details data (df_receipt), calculate the sales amount (amount) per transaction and identify outliers. Exclude non-members whose customer ID starts with "Z" from the calculation. Use the IQR method to identify outliers, defined as values greater than Q3 + 1.5 * IQR or less than Q1 - 1.5 * IQR. Display the results and the top 10 rows.

---
> P-079: For the product data (df_product), check for missing values in each item.

---
> P-080: For the product data (df_product), create a new dataset by removing records with missing values in any of the items. Confirm that there are no missing values left by verifying the count of records before and after the operation performed in P-079.

---
> P-081: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) with their respective means, and create a new dataset. Round up the means to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-082: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) with their respective medians, and create a new dataset. Round up the medians to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-083: For the product data (df_product), impute missing values in unit price (unit_price) and unit cost (unit_cost) by the median of each product's category small code (category_small_cd), and create a new dataset. Round up the medians to the nearest yen if necessary. After imputation, confirm that there are no missing values in any of the items.

---
> P-084: For the customer data (df_customer), calculate the total sales amount by occupation and the proportion of sales in 2019. Create a new dataset with these values, assuming no sales information exists if data is missing. Extract the proportion of sales and display the top 10 rows. Additionally, check for any missing values in the newly created data.

---
> P-085: For the customer data (df_customer), create new data by adding latitude and longitude coordinates for each postal code (postal_cd) using a geocode table (df_geocode). If a postal code has multiple coordinates, use the average latitude and longitude values. Display the top 10 rows to verify the results.

---
> P-086: Using the data created in P-085, combine it with the store data (df_store) based on the application store code (application_store_cd) to create a new dataset. Calculate the distance between the customer's address (latitude, longitude) and the store's address (latitude, longitude) for each application store and display the top 10 rows. You can use a library for distance calculation if necessary.

$$
\mbox{ç·¯åº¦ï¼ã©ã¸ã¢ã³ï¼}ï¼\phi \\
\mbox{çµåº¦ï¼ã©ã¸ã¢ã³ï¼}ï¼\lambda \\
\mbox{è·é¢}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 â \lambda_2))
$$

---
> P-087: In the customer data (df_customer), there are cases where the same customer is registered at different stores under slightly different names or addresses. Create a new dataset by consolidating records where the customer name (customer_name) and postal code (postal_cd) are considered the same if they match exactly. In cases where there are discrepancies, prioritize the record with the higher total sales amount, or if sales amounts are equal, prioritize the record with the smaller customer ID.

---
> P-088: Using the data created in P-087, create a new dataset with consolidated customer data according to the following specifications:
> - Retain only the customer ID (customer_id).
> - For duplicate records, use the receipt number (receipt_no) from the previous extracted receipt record.
> - Ensure the uniqueness of the customer ID in the new dataset.

---
> P-089: Split the receipt data (df_receipt) into training and test datasets for predictive modeling. Use an 80:20 ratio for the split.

---
> P-090: For the receipt details data (df_receipt), extract data from January 1, 2017, to October 31, 2019. Create three sets of monthly sequential sales data: 12 months for training, 6 months for testing, and 6 months for validation.

---
> P-091: For the customer data (df_customer), perform undersampling to ensure that the number of customers without sales records is equal to the number of customers with sales records.

---
> P-092: For the customer data (df_customer), normalize the gender code (gender_cd) into three categories: male, female, and unknown.

---
> P-093: For the product data (df_product), merge with the category data (df_category) to retain the category name while keeping the category code intact. Create a new product dataset with this combined information.

---
> P-094: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8
> - File output path: /data

---
> P-095: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: Yes
> - Text encoding: CP932
> - File output path: /data

---
> P-096: Save the new product dataset created in P-093 with the category names included as a CSV file with the following specifications:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8
> - File output path: /data

---
> P-097: Load the file created in P-094 and display 3 rows to confirm that the data is correctly imported. The file specifications are as follows:
> - File format: CSV (comma-separated values)
> - Header: Yes
> - Text encoding: UTF-8

---
> P-098: Load the file created in P-096 and display 3 rows to confirm that the data is correctly imported. The file specifications are as follows:
> - File format: CSV (comma-separated values)
> - Header: No
> - Text encoding: UTF-8

---
> P-099: Save the new product dataset created in P-093 with the category names included as a TSV file with the following specifications:
> - File format: TSV (tab-separated values)
> - Header: Yes
> - Text encoding: UTF-8
> -File output path: /data

---
> P-100: Load the file created in P-099 with the following specifications, display 3 rows of data, and confirm that the data is correctly imported:
> - File format: TSV (tab-separated values)
> - Header: Yes
> - Text encoding: UTF-8

## This concludes the 100 exercises. Well done!